.notification {
    background: #DCE4C9;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    background: #E07B39;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}